header{
    margin-top: 0%;
}
body{
    margin: auto;
    background-color: #000000;
    text-align: center;
    overflow: hidden;
    background-size: contain;
    
}
body p{
    background-color: #333;
	color: #fff;
	padding: 10px;
    background-size: contain;
    font-family: "Jersey 10", sans-serif;
    font-size: 15px;
}

body .gradedojogo
{
    background-image: url("../assests/sim.jpg");  
    background-size: cover;
    max-height: -20px;
    margin: auto;
   

}

canvas{
    border: solid 4px black;
    background-image: url(../assests/tennis.jpg);
    background-size: contain;
    position: 0ds;
    
}